@model DiscountPostDto
@{
    ViewData["Title"] = "Create Discount";
}
<h2>Discount Create</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Percent" class="form-label">Value</label>
        <input asp-for="Percent" type="text" class="form-control">
        <span class="text text-danger" asp-validation-for="Percent"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    <a asp-action="Index" class="btn btn-outline-danger mt-3">Cancel</a>
</form>



